button {
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
}

.add {
  background: url(src/assets/images/icon_plus.png) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  background-color: #8e9429;
  filter: invert(1);
}

.remove {
  background: url(src/assets/images/icon_minus.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  background-color: #8e9429;
  filter: invert(1);
}
