*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: var(--white);
  background: url(src/assets/images/bg_pokemon_woods.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  /* 62.5% equates to 16px w/ rems w/o locking into pixel size for accessibility */
}

main {
  margin: 17rem 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  width: 30%;
}

ul {
  list-style: none;
}

img {
  width: 60%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.848));
}

.counter {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats {
  margin: 2rem 0;
  text-align: left;
  font-size: 1.8rem;
  text-transform: capitalize;
}