.pokemon-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1rem;
  background-color: #1e1c5c61;
  border-radius: 8%;
  padding: 3rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 10px;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.selected-pokemon {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 992px) {
  .pokemon {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .pokemon {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .pokemon {
    width: 60%;
  }
}
